@using Microsoft.Owin.Security
@model ByteBank.ForumNaviteFramework.Models.ViewModels.ContaRegistrarViewModel

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Registrar</h2>


@using (Html.BeginForm())
{
    <h4>Comple o cadastro de sua conta!</h4>
    <hr />

    <div class="form-group">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.EditorForModel()

        <br />
        <input type="submit" name="Registrar" value="Registrar" class="btn btn-success" />
        <br />
    </div>
}


@using (Html.BeginForm("RegistrarPorAutenticacaoExterna", "Conta"))
{
    var providersAutenticacao = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    if (providersAutenticacao != null && providersAutenticacao.Any())
    {
        <hr />
        <div class="btn-group">
            @foreach (var item in providersAutenticacao)
            {
                <button class="btn btn-primary" type="submit" value="@item.AuthenticationType" name="provider">
                    @item.Caption
                </button>
            }
        </div>
    }
}
