
@{
    ViewBag.Title = "VerificacaoDoisFatores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verificação de SMS</h2>

@using (Html.BeginForm())
{
    <div class="form-group">

        <label>Token de SMS:</label>
        <input type="text" name="token" />

        <hr />
        <br />
        <input type="submit" name="Enviar" value="Enviar" class="btn btn-success" />
        <br />
    </div>
}