@model ByteBank.ForumNaviteFramework.Models.ViewModels.ContaVerificacaoDoisFatoresViewModel

@{
    ViewBag.Title = "VerificacaoDoisFatores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verificação de SMS</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.EditorForModel()

        <hr />
        <br />
        <input type="submit" name="Enviar" value="Enviar" class="btn btn-success" />
        <br />
    </div>
}